<div class="x_content">
    <div class="container">
        <form method='POST' id="addModelFormAjax">
             {% csrf_token %}
                {{form.as_p}}

            <div class="form-group">
               <input type="submit" class="btn btn-success" value="Add liquidator">
            </div>

        </form>
    </div>

</div>
<script>
 $("input").addClass("form-control");
 $(".modal-title").html("Add liquidator");
    $('#addModelFormAjax').submit(function(e){
        e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
            url:'{% url "dashboard:deals:liquidatorcreate"%}',
            data:formData,
            type:"post",
            contentType: false,
            processData: false,
            beforeSend: function() {
                $(".loading").show();
            },
            success:function(data){
            $(".modal-body").html(data);

            }
       });

   });
</script>
