{% extends "dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %} CheckList {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="x_content">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Market Research Checklist</h2>
            <div class="clearfix"></div>
          </div>

          {% if messages %}
            <ul class='messages'>
              {% for message in messages %}
                {% if message.tags == 'details_updated success' %}
                  <div class='alert alert-success col-xs-12'>
                    <strong class='{{ message.tags }}'>{{ message }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}

          <div class="x_content">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                
                {% for marketresearch in marketresearch_list %}
                  <tr>
                    <td>{{ marketresearch.eventName }}</td>
                    <td><a href="/initial/marketresearch-update/{{marketresearch.id}}" class="btn btn-info btn-xs">
                      <i class="fa fa-pencil"></i> Edit</a></td>
                    <td><a href="/initial/marketresearch-delete/{{marketresearch.id}}" class="btn btn-danger btn-xs ve-sh-del-contact">
                      <i class="fa fa-trash-o"></i> Delete</a></td>
                    <!-- <td><a href="/initial/inspection-update/{{inspection.id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/initial/inspection-delete/{{inspection.id}}" class="btn btn-danger">Delete</a></td> -->
                    
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
        <div class="x_panel">
          <div class="x_title">
            <h2>Add New Event</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <a href="/initial/marketresearch-add" class="btn btn-primary">Add Event</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-event-modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Event</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this event?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default delete_event_yes">Yes</a>
            <a class="btn btn-default" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script type="text/javascript">
    $('.delete_event').on('click', function(){
      $('.delete_event_yes').attr('href', '/dashboard/settings/checklist/{{ checklist_category }}/delete/'+ $(this).attr('id'))
    });
  </script>
{% endblock javascripts %}